<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="insert_gazebo" params="prefix">
        <gazebo>
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find abb_gofa_bringup)/config/controllers.yaml</parameters>
                <ros>
                    <namespace>${prefix}</namespace>
                </ros>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>